.App {
  text-align: center;
}
header {
  position: relative;
  padding: 0 5%;
  overflow: hidden;
  height: 60vh;
  background-color: darkgrey;
  z-index: -1;

  @media only screen and (min-width: 768px) {
    height: 60vh;
  }
  h1 {
    margin-top: 0;
    padding-top: 21px;
    text-align: left;
  }

  p {
    text-align: left;
  }
}

.header-img {
  opacity: 0.9;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  
  @media only screen and (min-width: 768px) {
    width: 100%;
    height: unset;
  }
}
